.createButton {
  position: right;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #F36D0B;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #999;
}

.createButton:hover {background-color: #7D2B0C}

.createButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

